{% extends "layout.html" %}

{% block additional_js %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">

{% endblock additional_js %}

{% block content %}
<div class="bd-example">
    <div class="input-group">
        <table class="table table-striped table-hover table-sm  data-sort-class" id = "Income_table">
          <thead>
            <tr class ="thead-dark">
                <th  scope="col" id ="Account Description" value="item description" > Description </th>
                <th  scope="col" id ="Current_fy" value="Current_fy" > Year Ended {{datetime.strptime(Income_items [0].__dict__.get('year_end'),'%Y-%m-%d %H:%M:%S').strftime('%d/%m/%y')}}</th>
                <th  scope="col" id ="Account Description" value="item description" > Description </th>
                <th  scope="col" id ="Current_fy" value="Current_fy" > Year Ended {{datetime.strptime(Income_items [-1].__dict__.get('year_end'),'%Y-%m-%d %H:%M:%S').strftime('%d/%m/%y')}}</th>
            </tr>
          </thead>
          <tbody id="Income_table_body">
              {% for current_ie_item , last_ie_item in itertools.zip_longest(current_ie_breakdown,last_ie_breakdown ) %}
                <tr>

                    {% if current_ie_item.__dict__.get("account_code") > 7000  %}
                        {% if (current_ie_item != None) %}
                            <td scope="row" >{{ current_ie_item .__dict__.get("description")}}</td>
                            <td class= "numbers" scope="row">{{ "%.0f" % (current_ie_item.__dict__.get("debit_credit_amt") )}}</td>
                        {% endif %}
                        {% if (last_ie_item != None) %}
                            <td scope="row" >{{ last_ie_item .__dict__.get("description")}}</td>
                            <td class= "numbers" scope="row">{{ "%.0f" % (last_ie_item.__dict__.get("debit_credit_amt") )}}</td>
                        {% endif %}
                    {% else %}
                        {% if (current_ie_item != None) %}
                            <td scope="row" >{{ current_ie_item .__dict__.get("description")}}</td>
                            <td class= "numbers" scope="row">{{ "%.0f" % (current_ie_item.__dict__.get("debit_credit_amt") * -1)}}</td>
                        {% endif %}
                        {% if (last_ie_item != None) %}
                            <td scope="row" >{{ last_ie_item .__dict__.get("description")}}</td>
                            <td class= "numbers" scope="row">{{ "%.0f" % (last_ie_item.__dict__.get("debit_credit_amt") * -1)}}</td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
          </tbody>

        </table>

    </div>
</div>
{% endblock content %}

{% block add_on_js %}


<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
    $.fn.digits = function(){
    return this.each(function(){
        $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
    })
}

</script>
<script>
    $(".numbers").digits();
</script>

<script>
    $("#Income_table").DataTable({
        "paging":   false,
        "ordering": true,
        "info":     false
        }
    );

</script>
{% endblock add_on_js %}