
<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link href="{{ url_for('static', filename='css/bank-change-of-mailing.css')}}" rel="stylesheet">
</head>
<body>
<!--    <div style="position:absolute;left:50%;margin-left:-306px;top:50px;width:612px;height:792px;border-style:outset;overflow:hidden">-->
    <page size="A4">
        <div style="position:absolute;left:0px;top:0px" class="letter_main" >


            <header>
                <img style="position:absolute;top:0 px; left:72.02px "  src="{{url_for('mcst.letter_head', filename = header_source)}}" class="letter_header">
            </header>


            <div style="position:absolute;left:72.02px;top:100.70px" class="cls_005"><span class="cls_005">Our Ref:</span></div>
            <div style="position:absolute;left:144.02px;top:100.70px" class="cls_006"><span class="cls_005">{{mcst_info.MCST_no}}/{{bank_account.BANK}}/{{Mcst_os_item.id}}</span></div>
            <div style="position:absolute;left:72.02px;top:128.30px" class="cls_005"><span class="cls_005">Date:</span></div>
            <div style="position:absolute;left:144.02px;top:128.30px" class="cls_005"><span class="cls_005">{{letter_date}} </span></div>
            <div style="position:absolute;left:72.02px;top:155.90px" class="cls_007"><span class="cls_007">{{bank_account.bank_accounts_details.full_name}}</span></div>
            <div style="position:absolute;left:483.22px;top:155.90px" class="cls_013"><span class="cls_013">BY HAND</span></div>
            <div style="position:absolute;left:72.02px;top:169.70px" class="cls_005 wrap_address"><span class="cls_005 ">{{bank_account.bank_accounts_details.mailing_address}}</span></div>
            <div style="position:absolute;left:72.02px;top:224.90px" class="cls_005"><span class="cls_005">Dear Sirs / Madam,</span></div>
            <div style="position:absolute;left:72.02px;top:252.53px" class="cls_007"><span class="cls_007">THE MANAGEMENT CORPORATION STRATA TITLE PLAN NO. <span> {{mcst_info.MCST_no}}</span></span></div>
            <div style="position:absolute;left:72.02px;top:266.33px" class="cls_007"><span class="cls_007">UEN NO.: </span><span class="cls_007">{{ mcst_info.UEN_NO}}</span></div>
            <div style="position:absolute;left:72.02px;top:280.13px" class="cls_007"><span class="cls_007">ACCOUNT NUMBER: </span><span class="cls_007">{{bank_account.ACCOUNTNO}}</span></div>
            <div style="position:absolute;left:72.02px;top:307.73px" class="cls_005"><span class="cls_005">We refer to the above subject matter.</span></div>
            <div style="position:absolute;left:72.02px;top:335.33px" class="cls_005"><span class="cls_005">Kindly sent all correspondences and notices, etc to the address as follows:</span></div>
            <div style="position:absolute;left:293.57px;top:362.93px" class="cls_005"><span class="cls_005">MCST </span><span class="cls_005">{{mcst_info.MCST_no}}</span></div>
            <div style="position:absolute;left:196.37px;top:376.73px" class="cls_005"><span class="cls_005">c/o Smart Property Management (Singapore) Pte Ltd</span></div>
            <div style="position:absolute;left:254.93px;top:390.53px" class="cls_005"><span class="cls_005">38C Jalan Pemimpin #03-01</span></div>
            <div style="position:absolute;left:279.53px;top:404.33px" class="cls_005"><span class="cls_005">Singapore 577180</span></div>
            <div style="position:absolute;left:238.49px;top:418.15px" class="cls_005"><span class="cls_005">Tel :  6223 0169    Fax : 6223 0977</span></div>
            <div style="position:absolute;left:72.02px;top:445.75px" class="cls_005"><span class="cls_005">Please do not hesitate to contact our </span><span >{{ mcst_info.ACCOUNTS_INCHARGE}}</span><span class="cls_005"> at Tel: </span><span class="cls_005">6223 0169</span><span > should you require</span></div>
            <div style="position:absolute;left:72.02px;top:459.55px" class="cls_005"><span class="cls_005">any further clarification.</span></div>
            <div style="position:absolute;left:72.02px;top:487.15px" class="cls_005"><span class="cls_005">Thank you.</span></div>
            <div style="position:absolute;left:72.02px;top:514.75px" class="cls_005"><span class="cls_005">Yours faithfully,</span></div>
            <div style="position:absolute;left:72.02px;top:528.55px" class="cls_005"><span class="cls_005">The Management Corporation Strata Title Plan No. </span><span >{{mcst_info.MCST_no}}</span></div>
            <div style="position:absolute;left:72.02px;top:583.75px" class="cls_005"><span class="cls_005">_______________________</span></div>
            <div style="position:absolute;left:399.07px;top:583.75px" class="cls_005"><span class="cls_005">______________________</span></div>
            <div style="position:absolute;left:72.02px;top:597.58px" class="cls_007"><span class="cls_007">Authorised Signatories</span></div>
            <div style="position:absolute;left:396.07px;top:597.58px" class="cls_007"><span class="cls_007">Authorised Signatories</span></div>
            <img style="position:absolute;left:20px; top:680px" class="footer_logo" src={{url_for('mcst.letter_head', filename = 'SMART_MA_FOOTER.png')}} >

        </div>
        <footer>
                <img style="position:absolute;left:600px; top:95px"  class="qrcode_reference" src={{url_for('temp.temp_file', filename=filename )}}>
        </footer>
    </page>

</body>
</html>
