{% extends "layout.html" %}

{% block additional_js %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">

{% endblock additional_js %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary text-uppercase ">
    <div class="h2 text-white"> {{ title}}  </div>
</nav>


<div class="bd-example">

    <table class="table table-striped table-hover table-sm  data-sort-class" id="Pending_doc_table">
                 <thead>
                    <tr class =thead-light >
                        <th scope="col" id ="id" value="id" class="d-none" >item_id </th>
                        <th scope="col" id ="Name" value="item" >Name </th>
                        <th scope="col" id ="Contact_no" value="Period_start" >Contact_no</th>
                        <th scope="col" id ="Date_Registered" value="Period_end" >Date Registered</th>
                        <th scope="col" id ="Unit_visit" value="Date_requested" > Unit_visit</th>
                        <th scope="col" id ="Possible_contact_cases" value="upload file" >Possible contact cases</th>
                        <th scope="col" id ="Possible_clusters " value="upload file" >Possible clusters </th>
                        <th scope="col" id ="Temperature" value="upload file" >Temperature</th>
                        <th scope="col" id ="submit" value="submit" ></th>
                        <th scope="col" id ="delete" value="delete" ></th>
                    </tr>
                 </thead>
                 <tbody id="Pending_Appointment_body">
                    {% for covid_item in covid_listing %}
                        <form method="POST" action="" enctype="multipart/form-data">
                            <tr>
                                <td scope="row" class="d-none" >
                                    <input class="form-control form-control-lg"  name="id" type="text" value="{{covid_item.id}}">/td>
                                <td scope="row" >{{  covid_item.name}}</td>
                                <td scope="row" >{{  covid_item.contact_no}}</td>
                                <td scope="row" >{{  covid_item.date_registered}}</td>
                                <td scope="row" >{{  covid_item.unit_visted }}</td>
                                <td scope="row" >
                                {% if covid_item.mainland_visit +  covid_item.family_visit + covid_item.fever
                                 + covid_item.respiratory + covid_item.contact_convid == 0  %}

                                    <i class="fa fa-circle" style="font-size:16px;color:green"></i>
                                    None suspected contact
                                {% else %}

                                {% if covid_item.mainland_visit %}
                                     {% set listitem =  "Visted mainland in past 14 days" %}
                                {% endif %}

                                <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content= {{listitem}}>

                                    <i class="fa fa-circle" style="font-size:16px;color:red"></i>

                                     {{ covid_item.mainland_visit +  covid_item.family_visit + covid_item.fever
                                    + covid_item.respiratory + covid_item.contact_convid }} suspected contact
                                </button>
                                {% endif %}

                                </td>
                                <td scope="row" >{{  covid_item.contact_place }}</td>
                                <td scope="row" >

                                    <input class="form-control form-control-lg" id="{{covid_item.id}}" name="Temperature" type="text">

                                </td>
                                <td  scope="row">{{ Temperature_form.submit(class="btn btn-outline-info") }}</td>
                                <td  scope="row">{{ Temperature_form.delete(class="btn btn-outline-danger") }}</td>

                            </tr>
                        </form>
                    {% endfor %}
                </tbody>
              </table>
<!--              <button type="button" class="btn btn-success btn-block" onclick="Generate_report" id="generate_report_btn">-->
<!--                  Generate Report-->
<!--              </button>-->
</div>
{% endblock content %}
{% block add_on_js %}



<!--<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>-->


<script type="text/javascript">
    $("#Pending_doc_table1").DataTable({


    });



</script>


{% endblock add_on_js %}