{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">MCST retrival</legend>
<!--                 {{ form.Mcst_func(type="search", class="custom-select mdb-autocomplete", id="Mcst_func") }}-->
                <select class="custom-select mb-4" name="Mcst_func">
                     <option selected>Select Func...</option>
                     <option >MCST retrival</option>
                     <option >MCST Push restore</option>
                     <option >Change of mailing</option>
                </select>


                <select class="custom-select mb-4" name="Mcst_no">
                     <option selected>Select Mcst...</option>
                     {% for Project_item in Project_items %}
                        <option value={{Project_item.__dict__.get('MCST_no')}}>{{ Project_item.__dict__.get('MCST_no') }}</option>
                     {% endfor %}

                </select>

                 <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Select Name...</option>
                            {% for Project_item in Project_items %}
                                <option value={{Project_item.__dict__.get('PROPERTY_NAME')}}>{{ Project_item.__dict__.get('PROPERTY_NAME') }}</option>
                            {% endfor %}
                    </select>
                 </div>
<!--                <div class="form-check">-->
<!--                    {{ form.remember(class="form-check-input") }}-->
<!--                    {{ form.remember.label(class="form-check-label") }}-->
<!--                </div>-->
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
<!--                <small class="text-muted ml-2">-->
<!--                    <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>-->
<!--                </small>-->
            </div>
        </form>
    </div>
<!--    <div class="border-top pt-3">-->
<!--        <small class="text-muted">-->
<!--            Need An Account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up Now</a>-->
<!--        </small>-->
<!--    </div>-->
{% endblock content %}
{% block add_on_js %}
<script>
    $(document).ready(function(){
      $(".form-control").on("keyup", function(event) {
        if (event.keyCode === 13 {
            event.preventDefault();
            $(."form-check-input").click();
        }

        });
    });

    var Mcst_list = [
    {% for Project_item in Project_items %}
        "{{Project_item.__dict__.get('MCST_no')}}",
    {% endfor %}
    "others"];

    $('#Mcst_no').mdbAutocomplete({
        data: Mcst_list
    });

</script>
{% endblock add_on_js %}
