{% extends "layout.html" %}

{% block additional_js %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">

{% endblock additional_js %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="h2 text-white"> {{ MCST_no }}</div>
</nav>


<div class="bd-example">

    <table class="table table-striped table-hover table-sm  data-sort-class" id="Pending_doc_table">
                 <thead>
                    <tr class =thead-light >
                        <th scope="col" id ="item_id" value="item_id" class="d-none" >item_id </th>
                        <th scope="col" id ="item" value="item" >item </th>
                        <th scope="col" id ="Period_start" value="Period_start" >Period_start</th>
                        <th scope="col" id ="Period_end" value="Period_end" >Period_end</th>
                        <th scope="col" id ="Date_requested" value="Date_requested" > Date_requested</th>
                        <th scope="col" id ="upload file" value="upload file" >upload file</th>
                        <th scope="col" id ="submit" value="submit" ></th>
                    </tr>
                 </thead>
                 <tbody id="Pending_Appointment_body">
                    {% for Pending_item in Pending_items %}
                        <form method="POST" action="" enctype="multipart/form-data">
                            <tr>
                                <td scope="row" class="d-none" >{{ Pending_item.__dict__.get('id')}}
                                {{ pending_form.item_id(class="form-control-file", value= Pending_item.__dict__.get('id')) }}
                                    {% for error in pending_form.item_id.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}</td>
                                <td scope="row" >{{ Pending_item.__dict__.get('item')}}
                                {{ pending_form.item(class="form-control-file d-none", value= Pending_item.__dict__.get('item')) }}
                                    {% for error in pending_form.item.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}</td>
                                <td  scope="row">{{ Pending_item.__dict__.get('Period_start') }}</td>
                                <td class="date" scope="row">{{ Pending_item.__dict__.get('Period_end') }}</td>
                                <td  scope="row">{{ Pending_item.__dict__.get('Date_requested') }}</td>
                                {% if not Pending_item.__dict__.get('File_uploaded') %}

                                <td  scope="row">{{ pending_form.File_uploaded(class="form-control-file") }}
                                            {% for error in pending_form.File_uploaded.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}</td>
                                <td  scope="row">{{ pending_form.submit(class="btn btn-outline-info") }}</td>

                                {% else %}

                                <td  scope="row">
                                    <!-- Material unchecked -->
                                    <div class="form-check">
                                        <button type="button" class="btn btn-default btn-sm" >
                                            <a href="{{ Pending_item.__dict__.get('File_uploaded') }}">
                                                <i class="fa fa-check text-success"></i> {{ Pending_item.__dict__.get('Date_received') }}
                                            </a>
                                        </button>

                                    </div>
                                </td>


                                {% endif %}
                            </tr>
                        </form>
                    {% endfor %}

                </tbody>

              </table>
<!--              <button type="button" class="btn btn-success btn-block" onclick="Generate_report" id="generate_report_btn">-->
<!--                  Generate Report-->
<!--              </button>-->
              <form action="{{ url_for('mcst.working_sheet', MCST_no= MCST_no) }}" method="GET">
                  <input class="btn btn-success btn-block" type="submit" value="Working sheet">
              </form>
</div>
{% endblock content %}
{% block add_on_js %}



<!--<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>-->


<script type="text/javascript">
    $("#Pending_doc_table").DataTable(
            "paging":   false,
            "ordering": false,
            "info":     false

    );



</script>


{% endblock add_on_js %}