{% extends "layout.html" %}

{% block additional_js %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">

{% endblock additional_js %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="h2 text-white"> {{ MCST_no }}</div>
</nav>


<div class="bd-example col-xl-6 col-md-6 d0">

    <table class="table table-striped table-hover table-sm  data-sort-class" id="Pending_doc_table">
         <thead>
            <tr class =thead-light >
                <th scope="col" id ="item_id" value="item_id">Item </th>
                <th scope="col" id ="item" value="item" >Current FY value</th>
                <th scope="col" id ="Period_start" value="Period_start" >Last FY Value</th>

            </tr>
         </thead>
         <tbody id="Pending_Appointment_body">
            {% for audit_account_item in audit_account_items %}

                    <tr >

                        <td scope="row" >{{audit_account_item.classify_type}}</td>
                        <td scope="row" >{{audit_account_item.current_fy_value }}</td>
                        <td scope="row" >{{audit_account_item.last_fy_value  }}</td>

                    </tr>

            {% endfor %}

        </tbody>

      </table>

      <table class="table table-striped table-hover table-sm  data-sort-class d-none" id="audit_breakdown">
         <thead>
            <tr class =thead-light >
                <th scope="col" id ="item_id" value="item_id">Item </th>
                <th scope="col" id ="item" value="item" >Current FY value</th>
                <th scope="col" id ="Period_start" value="Period_start" >Last FY Value</th>

            </tr>
         </thead>
         <tbody id="Pending_Appointment_body">
            {% for audit_account_breakdown_item in audit_account_breakdown_items %}

                    <tr >

                        <td scope="row" >{{audit_account_breakdown_item.item}}</td>
                        <td scope="row" >{{audit_account_breakdown_item.current_fy_value }}</td>
                        <td scope="row" >{{audit_account_breakdown_item.last_fy_value  }}</td>

                    </tr>

            {% endfor %}

        </tbody>

      </table>
<!--



<!--              <button type="button" class="btn btn-success btn-block" onclick="Generate_report" id="generate_report_btn">-->
<!--                  Generate Report-->
<!--              </button>-->
              <form action="{{ url_for('mcst.audit_report', MCST_no= MCST_no) }}" method="GET">
                  <input class="btn btn-success btn-block" type="submit" value="Generate Report">
              </form>
</div>
{% endblock content %}
{% block add_on_js %}



<!--<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>-->


<script type="text/javascript">
    $("#Pending_doc_table").DataTable(
            "paging":   false,
            "ordering": false,
            "info":     false

    );



</script>


{% endblock add_on_js %}